*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(/images/pexels-eberhard-grossgasteiger-1064162.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 100%;
    background-color: rgb(15, 26, 26);
    height: 75px;
    margin: auto;
}

.icon{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    height: 70px;
    display: flex;
}

.logo{
    display: flex;
    color: orangered;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
   
    width: 400px; 
    height: 70px;
    float: left;  
    margin-left: 246px;
}
 ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 ul li{
    list-style: none;
    margin: 27px 62px 0px 0px;
    font-size: 14px;
 }

 ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
 }

 ul li a:hover{
    color: orangered;
 }
  
 div.search{
    width: 330px;
    float: left;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    padding: 10px;
    float: left;
    border-radius: 5px;

 }

 .btn{
    width: 100px;
    height: 44px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 13px ;
    color: #fff;
    font-size: 15px;
    
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
 }

 .btn:focus{
    outline: none;
 }

 .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
    margin-top: 100px;
 }
.color{
    color: orangered;
    font-size: 50px;
    font-weight: 700;
}
.para{
    padding: 5px;
    padding-left: 8px;
    padding-bottom: 25px;   
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 20px;
    font-size: 20px;
 }

 .form{
    width: 400px;
    height: 450px;
    margin-left: 50px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 200px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    
 }

 h3{
    width: 315px;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    margin-left: 15px;
 }
 
 .form input{
    width: 350px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    letter-spacing: 1px;
    font-family: sans-serif;
 }

 form a{
   color: blue;
 }
 .form input:focus{
    outline: none;
 }

 ::placeholder{
    color: #fff;
    font-family: Arial;
 }

 .btnn{
   font-family: Arial, Helvetica, sans-serif;
   width: 150px;
   padding: 12px 30px;
   border-radius: 4px;
   outline: none;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 1px;
   transition: all .5s ease;
   margin-left: 20px;
 }

 .btnn:hover{
   background: orangered;
   color: #000;
    
 }

 .btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
 }

 .liw{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top:20px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    letter-spacing: 1.2px;
    color: #fff;
 }

 .cn{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
    
 }

 .cn a{
    text-decoration: none;
    color: black;
 }
 .p1{
   color: #fff;
 }

 .iconn img{
   margin-top: 8px;
   width: 30px;
   height: 30px;
   margin-left: 42px;
 }
 section{
   margin-top: 8px;
 }

 section a{
   
   padding: 12px 30px;
   border-radius: 4px;
   outline: none;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 1px;
   transition: all .5s ease;
}

section .btnthree{
   background: white;
   color: #000;
}

.btnthree:hover{
   background: orangered;
   color: #000;
}